<div>
  <div class="comment-box">
    <div class="user-picture-left">
      <div>
        <img src="static/img/sawal-logo-400px.png" height="50px" width="70px">
      </div>
    </div>
    <div class="comment-box-left">
      <div class="name-container">SawalBot</div>
      <p>
        To get started, just login below or <a href="#" class="insert-email">click here to insert your email</a>
      </p>
      <p>
        <ul class="social-link">
          <li><a href="#"><img src="static/img/icon-linkedin.png" height="50px" width="50px"></a></li>
          <li><a href="#"><img src="static/img/icon-google.png" height="50px" width="50px"></a></li>
        </ul>
      </p>
    </div>
  </div>
  <div class="clear">
  </div>
</div>