<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" nm="mobileSideBarToggler" type="button">
    ☰
  </button>
  <!--<a class="navbar-brand" href="/">
  </a>-->
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" nm="sideBarToggler" href="#">
        ☰
      </a>
    </li>
  </ul>
  <a class="navbar-brand" href="/">
  </a>

  <ul class="nav navbar-nav m-auto">
    <li class="page-title">Sawal.io</li>
  </ul>
</header>