<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">

      <li class="nav-item">
        <form class="Searchbox">
          <input class="" type="text" placeholder="Search Something.." style="width:80%;">
        </form>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="charts" href="#">
          My Performance
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="sales" href="#">
          Projects
            <i href="#" class="fa fa-plus R-alignment"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" nm="users" href="#" data-action-type="view">
          1:1 Feedback
            <i href="#" class="fa fa-plus R-alignment"></i>
        </a>
      </li>
    </ul>
  </nav>
  <button class="add-btn"><i href="#" class="fa fa-plus"></i></button>
</div>