body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.trillo-container-row {
  background: #fff;
}

.app-header.navbar .navbar-brand {
  background-image: url("../img/svg-trial-sawal.svg");
  background-size: 120px auto;
  height: 58px;
}

.sidebar {
  background: #696767;
}

.sidebar .sidebar-nav {
  background: #696767;
}

.app-header.navbar {
  background-color: #fff;
  border-bottom: 2px solid #696767;
  font-weight: bold;
}

.sidebar .nav .nav-item {
  margin-top: 5px;
}


.sidebar-nav ul li a {
  font-size: 17px;
  font-weight: bold;
}

.sidebar .nav .nav-item .nav-link:hover {
  background: none;
  color: #0aa7c6;
}

.sidebar .nav .nav-item .nav-link.active,
.sidebar .nav .nav-item .navbar .active.dropdown-toggle,
.navbar .sidebar .nav .nav-item .active.dropdown-toggle {
  background: none;
  color: #34c9e6;
}

.header-button {
  background-color: #fff !important;
}

.app-header.navbar .navbar-brand {
  background-color: #fff;
  border: none;
}


.left-footer {
  background-color: #16b3d0;
}


.comment-box-left:after {
  border-top-color: #16b3d0;
}

.left-column-cell .profile-picture img {
  background-color: #16b3d0;
}

.btn-info {
  background-color: #16b3d0;
}

.title-bar {
  color: #16b3d0;
}

.div-select-account-box .select-picker {
  color: #16b3d0 !important;
}

.keypad-actions button {
  background-color: #16b3d0;
}

.cb-third-pannel-left {
  background-color: #b0f1fe;
}


.comment-box .button {
  background: #16b3d0;
}

.comment-box-left .button {
  background: #f1f5f8;
  color: #444444;
}

.navbar-nav .nav-link,
.navbar-nav .navbar .dropdown-toggle,
.navbar .navbar-nav .dropdown-toggle {
  color: #21c3d6;
}

.navbar-toggler {
  font-size: 2.0rem;
}

.page-title {
  font-size: 1.20rem;
  color: #979797;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.text-align-center {
  text-align: center;
}

/* Comment Box Left Css Start */

.comment-box {
  width: 70%;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.comment-box-left {

  height: auto;
  position: relative;
  border-radius: 8px;
  margin-left: 70px;
}

.user-picture-left {
  position: absolute;
}

.comment-box-left p {
  margin-bottom: 0px;
  color: #000;
}

.comment-box-left .button {
  background: #f1f5f8;
  color: #444444;
}

.name-container {
  color: #21c3d6;
  font-size: 15px;
  font-weight: bold;
}

/* Comment Box Left Css End */

.Searchbox {
  text-align: center;
  margin-top: 20px;
}

.Searchbox input {
  width: 80%;
  background: #000;
  border: none;
  padding: 8px 10px;
  border-radius: 10px;
  font-weight: bold;
}

.Searchbox input::placeholder {
  color: #21c3d6;
}

.R-alignment {
  float: right;
  line-height: 30px;
  color: #21c3d6 !important;
}

.add-btn {
  bottom: 5%;
  left: 12%;
  position: fixed;
  padding: 13px 18px;
  background: #21c3d6;
  border: none;
  border-radius: 50%;
}

.add-btn i {
  font-size: 30px;
  color: #fff;
  line-height: 100%;
}

.typing-name-container {
  color: #21c3d6;
  font-size: 15px;
  font-weight: bold;
  width: 70%;
  left: 15%;
  margin: 15% auto 0;
}

.headingDiv {
  border-bottom: 3px solid #707070;
  margin-bottom: 54px;
  color: #6F7980;
  text-align: center;

}

.headingDiv .headingSpn {
  display: inline-block;
  margin-bottom: -17px;
  padding: 13px;
  background: #fff;
  color: #21c3d6;
  font-size: 17px;
  font-weight: bold;
}

.insert-email {
  color: #2667dd !important;
  text-decoration: none;
}

.social-link {
  padding: 25px;
}

.social-link li {
  float: left;
  margin-left: 50px;
  list-style-type: none;
}

.msg-input {
  width: 70%;
  border-radius: 8px;
  padding: 1% 2%;
  margin-left: 2%;
  border: 2px solid #707070;
}

.msg-input input {
  background: none;
  width: 100%;
  color: #707070;
}

.page-header {
  padding: 20px;
  font-size: 1.20rem;
  color: #979797;
  text-align: center;
  font-weight: bold;
}